{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">


    <!-- Root element for center items -->
    <div class="flex flex-col h-screen bg-gray-100">
        <!-- Auth Card Container -->
        <div class="grid place-items-center mx-2 my-20 sm:my-auto">


            <!-- Auth Card -->
            <div class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12
            px-6 py-10 sm:px-10 sm:py-6
            bg-white rounded-lg shadow-md lg:shadow-lg">

                <!-- Logo SVG -->
                <div class="flex justify-center">
                    <svg width="200" height="130" viewBox="0 0 217 159" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="217" height="159" fill="white"/>
                        <rect y="20" width="22" height="106" rx="11" fill="#262626"/>
                        <rect x="37" y="20" width="22" height="106" rx="11" fill="#262626"/>
                        <rect x="20" y="64" width="33" height="19" fill="#262626"/>
                        <rect x="69" y="65" width="19" height="61" rx="9.5" fill="#262626"/>
                        <ellipse cx="77.5" cy="47" rx="10.5" ry="11" fill="#262626"/>
                        <rect x="168" y="65" width="19" height="61" rx="9.5" fill="#262626"/>
                        <ellipse cx="177.5" cy="47" rx="10.5" ry="11" fill="#2ED573"/>
                        <rect x="104" y="68.3411" width="69.7788" height="21" rx="10.5" transform="rotate(-45 104 68.3411)" fill="#262626"/>
                        <rect x="118.849" y="68" width="68.1246" height="21" rx="10.5" transform="rotate(45 118.849 68)" fill="#262626"/>
                        <rect x="99" y="22" width="22" height="105" rx="11" fill="#262626"/>
                        <path d="M6.65137 153.402H2.48145L1.54492 156H0.191406L3.99219 146.047H5.14062L8.94824 156H7.60156L6.65137 153.402ZM2.87793 152.322H6.26172L4.56641 147.667L2.87793 152.322ZM16.9542 155.269C16.462 155.847 15.7397 156.137 14.7872 156.137C13.9988 156.137 13.3973 155.909 12.9825 155.453C12.5724 154.993 12.365 154.314 12.3605 153.416V148.604H13.6251V153.382C13.6251 154.503 14.0808 155.063 14.9923 155.063C15.9585 155.063 16.601 154.703 16.92 153.983V148.604H18.1847V156H16.9816L16.9542 155.269ZM24.9329 154.284L26.7649 148.604H28.0569L25.4045 156H24.4407L21.761 148.604H23.053L24.9329 154.284ZM34.6273 156.137C33.6247 156.137 32.8089 155.809 32.18 155.152C31.5511 154.492 31.2367 153.61 31.2367 152.507V152.274C31.2367 151.541 31.3757 150.887 31.6537 150.312C31.9362 149.734 32.3282 149.283 32.8295 148.959C33.3353 148.631 33.8822 148.467 34.4701 148.467C35.4317 148.467 36.1791 148.784 36.7123 149.417C37.2455 150.05 37.5121 150.957 37.5121 152.138V152.664H32.5013C32.5196 153.393 32.7315 153.983 33.1371 154.435C33.5472 154.881 34.0668 155.104 34.6957 155.104C35.1423 155.104 35.5205 155.013 35.8304 154.831C36.1403 154.649 36.4115 154.407 36.6439 154.106L37.4164 154.708C36.7966 155.66 35.8669 156.137 34.6273 156.137ZM34.4701 149.506C33.9597 149.506 33.5313 149.693 33.1849 150.066C32.8386 150.436 32.6244 150.955 32.5423 151.625H36.2474V151.529C36.211 150.887 36.0378 150.39 35.7279 150.039C35.418 149.684 34.9987 149.506 34.4701 149.506ZM44.937 149.738C44.7456 149.706 44.5382 149.69 44.3149 149.69C43.4855 149.69 42.9227 150.044 42.6264 150.75V156H41.3618V148.604H42.5923L42.6128 149.458C43.0275 148.797 43.6154 148.467 44.3764 148.467C44.6225 148.467 44.8094 148.499 44.937 148.562V149.738ZM48.0484 152.24C48.0484 151.087 48.315 150.171 48.8482 149.492C49.3814 148.809 50.0878 148.467 50.9674 148.467C51.8697 148.467 52.5738 148.786 53.0797 149.424L53.1412 148.604H54.2965V155.822C54.2965 156.779 54.0117 157.534 53.442 158.085C52.8769 158.636 52.1158 158.912 51.1588 158.912C50.6256 158.912 50.1038 158.798 49.5934 158.57C49.0829 158.342 48.6933 158.03 48.4244 157.634L49.0807 156.875C49.623 157.545 50.2861 157.88 51.0699 157.88C51.6852 157.88 52.1637 157.707 52.5055 157.36C52.8518 157.014 53.025 156.526 53.025 155.897V155.262C52.5191 155.845 51.8287 156.137 50.9537 156.137C50.0878 156.137 49.386 155.788 48.8482 155.091C48.315 154.394 48.0484 153.443 48.0484 152.24ZM49.3199 152.384C49.3199 153.218 49.4908 153.874 49.8326 154.353C50.1744 154.826 50.6529 155.063 51.2682 155.063C52.0657 155.063 52.6513 154.701 53.025 153.977V150.6C52.6376 149.893 52.0566 149.54 51.2818 149.54C50.6666 149.54 50.1858 149.779 49.8395 150.258C49.4931 150.736 49.3199 151.445 49.3199 152.384ZM59.7868 148.604L59.8279 149.533C60.393 148.822 61.1312 148.467 62.0427 148.467C63.6058 148.467 64.3943 149.349 64.4079 151.112V156H63.1433V151.105C63.1387 150.572 63.0157 150.178 62.7741 149.923C62.5372 149.668 62.1657 149.54 61.6599 149.54C61.2497 149.54 60.8897 149.649 60.5798 149.868C60.2699 150.087 60.0284 150.374 59.8552 150.729V156H58.5905V148.604H59.7868ZM71.7645 156.137C70.7619 156.137 69.9461 155.809 69.3172 155.152C68.6883 154.492 68.3739 153.61 68.3739 152.507V152.274C68.3739 151.541 68.5129 150.887 68.7909 150.312C69.0734 149.734 69.4653 149.283 69.9666 148.959C70.4725 148.631 71.0194 148.467 71.6073 148.467C72.5689 148.467 73.3163 148.784 73.8495 149.417C74.3827 150.05 74.6493 150.957 74.6493 152.138V152.664H69.6385C69.6567 153.393 69.8687 153.983 70.2743 154.435C70.6844 154.881 71.2039 155.104 71.8329 155.104C72.2795 155.104 72.6577 155.013 72.9676 154.831C73.2775 154.649 73.5487 154.407 73.7811 154.106L74.5536 154.708C73.9338 155.66 73.0041 156.137 71.7645 156.137ZM71.6073 149.506C71.0969 149.506 70.6685 149.693 70.3221 150.066C69.9758 150.436 69.7616 150.955 69.6795 151.625H73.3846V151.529C73.3482 150.887 73.175 150.39 72.8651 150.039C72.5552 149.684 72.1359 149.506 71.6073 149.506ZM81.1308 152.288H77.7949V151.256H81.1308V152.288ZM88.5968 151.974H86.2589V156H84.9395V146.047H88.2345C89.3555 146.047 90.2169 146.302 90.8184 146.812C91.4246 147.323 91.7276 148.066 91.7276 149.041C91.7276 149.661 91.559 150.201 91.2218 150.661C90.8891 151.121 90.4242 151.465 89.8272 151.693L92.1651 155.918V156H90.7569L88.5968 151.974ZM86.2589 150.9H88.2755C88.9272 150.9 89.4444 150.732 89.8272 150.395C90.2146 150.057 90.4083 149.606 90.4083 149.041C90.4083 148.426 90.2237 147.954 89.8546 147.626C89.49 147.298 88.9613 147.132 88.2686 147.127H86.2589V150.9ZM97.0197 149.499C97.5803 148.811 98.3094 148.467 99.2072 148.467C100.77 148.467 101.559 149.349 101.572 151.112V156H100.308V151.105C100.303 150.572 100.18 150.178 99.9387 149.923C99.7017 149.668 99.3303 149.54 98.8244 149.54C98.4143 149.54 98.0542 149.649 97.7443 149.868C97.4344 150.087 97.1929 150.374 97.0197 150.729V156H95.7551V145.5H97.0197V149.499ZM105.511 152.233C105.511 151.509 105.652 150.857 105.935 150.278C106.222 149.7 106.618 149.253 107.124 148.938C107.635 148.624 108.216 148.467 108.868 148.467C109.875 148.467 110.688 148.815 111.308 149.513C111.932 150.21 112.244 151.137 112.244 152.295V152.384C112.244 153.104 112.105 153.751 111.827 154.325C111.554 154.895 111.16 155.339 110.645 155.658C110.134 155.977 109.547 156.137 108.881 156.137C107.879 156.137 107.065 155.788 106.441 155.091C105.821 154.394 105.511 153.471 105.511 152.322V152.233ZM106.783 152.384C106.783 153.204 106.972 153.863 107.35 154.359C107.733 154.856 108.243 155.104 108.881 155.104C109.524 155.104 110.034 154.854 110.412 154.353C110.791 153.847 110.98 153.14 110.98 152.233C110.98 151.422 110.786 150.766 110.399 150.265C110.016 149.759 109.506 149.506 108.868 149.506C108.243 149.506 107.74 149.754 107.357 150.251C106.974 150.748 106.783 151.459 106.783 152.384ZM110.891 147.373V147.441H109.845L108.82 146.279L107.801 147.441H106.755V147.359L108.437 145.5H109.202L110.891 147.373ZM117.407 148.604L117.448 149.533C118.013 148.822 118.751 148.467 119.663 148.467C121.226 148.467 122.014 149.349 122.028 151.112V156H120.763V151.105C120.759 150.572 120.636 150.178 120.394 149.923C120.157 149.668 119.786 149.54 119.28 149.54C118.87 149.54 118.51 149.649 118.2 149.868C117.89 150.087 117.648 150.374 117.475 150.729V156H116.21V148.604H117.407ZM129.384 156.137C128.382 156.137 127.566 155.809 126.937 155.152C126.308 154.492 125.994 153.61 125.994 152.507V152.274C125.994 151.541 126.133 150.887 126.411 150.312C126.693 149.734 127.085 149.283 127.586 148.959C128.092 148.631 128.639 148.467 129.227 148.467C130.189 148.467 130.936 148.784 131.469 149.417C132.003 150.05 132.269 150.957 132.269 152.138V152.664H127.258C127.277 153.393 127.489 153.983 127.894 154.435C128.304 154.881 128.824 155.104 129.453 155.104C129.899 155.104 130.278 155.013 130.587 154.831C130.897 154.649 131.169 154.407 131.401 154.106L132.173 154.708C131.554 155.66 130.624 156.137 129.384 156.137ZM129.227 149.506C128.717 149.506 128.288 149.693 127.942 150.066C127.596 150.436 127.381 150.955 127.299 151.625H131.004V151.529C130.968 150.887 130.795 150.39 130.485 150.039C130.175 149.684 129.756 149.506 129.227 149.506ZM138.751 152.288H135.415V151.256H138.751V152.288ZM148.062 153.402H143.892L142.956 156H141.602L145.403 146.047H146.552L150.359 156H149.012L148.062 153.402ZM144.289 152.322H147.673L145.977 147.667L144.289 152.322ZM155.255 156H153.99V145.5H155.255V156ZM165.913 152.384C165.913 153.509 165.656 154.416 165.141 155.104C164.626 155.793 163.928 156.137 163.049 156.137C162.151 156.137 161.445 155.852 160.93 155.282V158.844H159.665V148.604H160.82L160.882 149.424C161.397 148.786 162.112 148.467 163.028 148.467C163.917 148.467 164.619 148.802 165.134 149.472C165.653 150.142 165.913 151.074 165.913 152.268V152.384ZM164.648 152.24C164.648 151.406 164.471 150.748 164.115 150.265C163.76 149.782 163.272 149.54 162.652 149.54C161.887 149.54 161.313 149.88 160.93 150.559V154.093C161.308 154.767 161.887 155.104 162.666 155.104C163.272 155.104 163.753 154.865 164.108 154.387C164.468 153.904 164.648 153.188 164.648 152.24ZM172.976 156.137C171.973 156.137 171.157 155.809 170.528 155.152C169.9 154.492 169.585 153.61 169.585 152.507V152.274C169.585 151.541 169.724 150.887 170.002 150.312C170.285 149.734 170.677 149.283 171.178 148.959C171.684 148.631 172.231 148.467 172.819 148.467C173.78 148.467 174.527 148.784 175.061 149.417C175.594 150.05 175.861 150.957 175.861 152.138V152.664H170.85C170.868 153.393 171.08 153.983 171.486 154.435C171.896 154.881 172.415 155.104 173.044 155.104C173.491 155.104 173.869 155.013 174.179 154.831C174.489 154.649 174.76 154.407 174.992 154.106L175.765 154.708C175.145 155.66 174.215 156.137 172.976 156.137ZM172.819 149.506C172.308 149.506 171.88 149.693 171.533 150.066C171.187 150.436 170.973 150.955 170.891 151.625H174.596V151.529C174.559 150.887 174.386 150.39 174.076 150.039C173.766 149.684 173.347 149.506 172.819 149.506ZM184.017 154.038C184.017 153.696 183.887 153.432 183.627 153.245C183.372 153.054 182.923 152.89 182.281 152.753C181.643 152.616 181.134 152.452 180.756 152.261C180.382 152.069 180.104 151.841 179.922 151.577C179.744 151.313 179.656 150.998 179.656 150.634C179.656 150.028 179.911 149.515 180.421 149.096C180.936 148.676 181.592 148.467 182.39 148.467C183.228 148.467 183.908 148.683 184.427 149.116C184.951 149.549 185.213 150.103 185.213 150.777H183.942C183.942 150.431 183.794 150.132 183.497 149.882C183.206 149.631 182.837 149.506 182.39 149.506C181.93 149.506 181.57 149.606 181.31 149.807C181.05 150.007 180.92 150.269 180.92 150.593C180.92 150.898 181.041 151.128 181.283 151.283C181.524 151.438 181.959 151.586 182.588 151.728C183.222 151.869 183.734 152.037 184.126 152.233C184.518 152.429 184.808 152.666 184.994 152.944C185.186 153.218 185.282 153.553 185.282 153.949C185.282 154.61 185.017 155.141 184.489 155.542C183.96 155.938 183.274 156.137 182.431 156.137C181.838 156.137 181.314 156.032 180.859 155.822C180.403 155.613 180.045 155.321 179.785 154.947C179.53 154.569 179.403 154.161 179.403 153.724H180.667C180.69 154.147 180.859 154.485 181.173 154.735C181.492 154.981 181.911 155.104 182.431 155.104C182.909 155.104 183.292 155.009 183.579 154.817C183.871 154.621 184.017 154.362 184.017 154.038Z" fill="#262626"/>
                    </svg>


                </div>

                <!-- Card Title -->


                {% if error %}
                    <div class="my-2 text-red-700 font-bold">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form class="mt-10" method="POST">
                    <!-- Email Input -->
                    <label for="email" class="block text-xs font-semibold text-gray-600 uppercase">E-mail</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="block w-full py-3 px-1 mt-2
                    text-gray-800 appearance-none
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200"
                           required autofocus />

                    <!-- Password Input -->
                    <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword"
                           class="block w-full py-3 px-1 mt-2 mb-4
                    text-gray-800 appearance-none
                    border-b-2 border-gray-100
                    focus:text-gray-500 focus:outline-none focus:border-gray-200"
                           required />

                    <!-- Auth Buttton -->
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button type="submit"
                            class="w-full py-3 mt-10 bg-gray-800 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:shadow-none">
                        Connexion
                    </button>


                </form>
            </div>
        </div>
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


</form>
{% endblock %}

