{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="">

        <div class="relative top-1/4 mx-auto">
            <div class="text-center m-6">Faite votre recherche parmis {{ total }} Intervenants</div>
            <div class="bg-white shadow p-4 flex max-w-md mx-auto">
            <span class="w-auto flex justify-end items-center text-gray-500 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                </svg>
            </span>
                <div class="w-full">
                    {{ form_start(form) }}
                    {{ form_widget(form.string, {'id': 'searchHome'}) }}
                </div>
                <div>
                    {{ form_row(form.submit, {'id': 'submitHome', 'class' : 'bg-red-400 hover:bg-red-300 rounded text-white p-2 pl-4 pr-4'}) }}
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>



    {# -------------------------------------------Search Result-------------------------------------------         -#}

    <div>
        {% if intervenants is empty %}
            <div class="mx-auto text-center mt-6"> {{ alerte }}</div>
        {% else %}
            <table class="rounded-t-lg m-5 w-5/6 mx-auto">
                <tr class="text-left border-b-2 border-gray-300 b text-gray-300 bg-gray-800">
                    <th class="px-4 py-3">Nom</th>
                    <th class="px-4 py-3">Prénom</th>
                    <th class="px-4 py-3">Matricule</th>
                    <th class="px-4 py-3">Email</th>
                    <th class="px-4 py-3 ">Code Postal</th>
                    <th class="px-4 py-3">Ville</th>
                </tr>
                {% for intervenant in intervenants %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100">

                        <td class="px-4 py-3">
                            <a href="{{ path('intervenant_index', { 'matricule' : intervenant.matricule }) }}">
                              {{ intervenant.nom }}
                            </a>
                        </td>
                        <td class="px-4 py-3">
                            {{ intervenant.prenom }}
                        </td>
                        <td class="px-4 py-3">
                            {{ intervenant.matricule }}
                        </td>
                        <td class="px-4 py-3">{{ intervenant.email }}</td>
                        <td class="px-4 py-3">{{ intervenant.codePostal }}</td>
                        <td class="px-4 py-3">{{ intervenant.ville }}</td>


                    </tr>
                {% endfor %}
                <!-- each row -->


            </table>
        {% endif %}
    </div>




{% endblock %}
