
{% block body %}


    <div class="w-full bg-white py-6 px-6 rounded-3xl my-4 neumorphism">
        <div class="flex text-left font-semibold text-purple-800 items-center">
            <i class="fas fa-stream fa-2x mr-4"></i>
           <h2>LDI</h2>
        </div>
        <table class="table-auto py-2 px-3 w-full">
            <thead>
            <tr class="border-b">
                <th class="p-2">N°</th>
                <th class="p-2">Stage</th>
                <th class="p-2">Session</th>
                <th class="p-2">Rubrique</th>
                <th class="p-2 hidden xl:table-cell">Début</th>
            </tr>
            </thead>
            <tbody>
            {% for ldi in Ldis %}
                <tr class="text-center">
                    <td class="">{{ ldi.ldinumero }}</td>
                    <td class="">{{ ldi.codeStage }}</td>
                    <td class="">{{ ldi.codeSession }}</td>
                    <td class="">{{ ldi.rubrique }}</td>
                    <td class="hidden xl:table-cell">{{ ldi.dateDebutAnim |format_datetime('short', 'short', locale='fr')}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center text-gray-500 font-semibold">Aucune LDI trouvée pour cet intervenant</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>  </div>
        <div class="flex justify-center mt-4">
            {{ knp_pagination_render(Ldis) }}
        </div>
    </div>



{% endblock %}