<form method="post" action="{{ path('vehicule_delete', {'id': vehicule.id, 'matricule' : vehicule.Intervenant.matricule}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce véhicule?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
    <button class="red-button">Supprimer</button>
</form>
