<div class="w-1/5">

    {{ form_start(form) }}
    <div class="my-2">
        {{ form_label(form.marque) }}
    </div>
    <div class="mb-4">
        {{ form_widget(form.marque) }}
    </div>
    <div class="my-2">
        {{ form_label(form.immatriculation) }}
    </div>
    <div class="mb-4">
        {{ form_widget(form.immatriculation) }}
    </div>
    <div class="my-2">
        {{ form_label(form.carteGrise) }}
    </div>
    <div class="my-2 w-full text-red-600 font-semibold">
        {{ form_errors(form.carteGrise) }}
    </div>
    <div class="mb-4 ">
        {{ form_widget(form.carteGrise) }}
    </div>
    <div class="my-2 inline-flex items-center ">
        <span class="mr-8">{{ form_label(form.isPrincipal) }}</span>
         {{ form_widget(form.isPrincipal) }}

    </div>
    <div class="">
        {{ form_row(form.Intervenant) }}
    </div>
    <div class="my-2">
        {{ form_label(form.TypeVehicule) }}
    </div>
    <div class="mb-4">
        {{ form_widget(form.TypeVehicule) }}
    </div>
    <div class="my-2">
        {{ form_label(form.Puissance) }}
    </div>
    <div class="mb-4">
        {{ form_widget(form.Puissance) }}
    </div>

    <button class="w-full form-green mt-6 animate-bounce ">{{ button_label|default('Créer') }}</button>

    <a class="block form-button mt-6 text-center mb-8" href="{{ path('intervenant_index', {'matricule': intervenant.matricule}) }}">Retour</a>

    {{ form_end(form) }}
</div>
