{% extends 'base.html.twig' %}

{% block title %}Modifier un véhicule{% endblock %}

{% block body %}

    <div class="flex flex-col justify-center items-center">
        <h1 class="mb-12">Modifier un véhicule</h1>

        {{ include('vehicule/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>

{% endblock %}
