<!-- Vehicule -->

<!-- 1 card -->
<div class="relative bg-white py-6 px-6 rounded-3xl w-full my-4 neumorphism">
    <div class="card-icon text-2xl bg-blue-500">
        <i class="fas fa-car fa-1x"></i>
    </div>
    <div>
        <a href="{{ path('vehicule_new', {'matricule' : intervenant.matricule}) }}">
            <svg class="float-right w-8 h-8 text-green-500 transform hover:scale-110 motion-reduce:transform-none"
                 fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                      clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
    {% if vehicules is empty %}
    <div class="text-center p-3 px-5 font-semibold text-base text-gray-500">
        Aucun véhicule renseigné pour cet intervenant
    </div>
    {% else %}
    <table class="table-auto text-md bg-white rounded mb-4 w-full">
        <thead>
        <tr class="border-b">
            <th class="text-center p-3 px-5">Marque</th>
            <th class="text-center p-3 px-5">Immatriculation</th>
            <th class="text-center p-3 px-5">Puissance fiscale</th>
            <th class="text-center p-3 px-5">Carte grise</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr class="border-b {% if vehicule.isPrincipal == 1 %}bg-blue-100{% endif %}">
                <td class="p-3 px-5 text-center">{{ vehicule.marque }}</td>
                <td class="p-3 px-5 text-center">{{ vehicule.immatriculation }}</td>
                <td class="p-3 px-5 text-center">{{ vehicule.Puissance.libellePuissance }}</td>
                <td class="p-3 px-5 text-center">
                    {% if vehicule.carteGrise is empty %}
                        <span class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-sm">Non</span>
                    {% else %}
                        <a target="_blank" id="CG"
                           href="{{ asset('uploads/'~vehicule.Intervenant.matricule~'/'~vehicule.carteGrise) }}">
                            <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-sm">Oui</span>
                        </a>
                    {% endif %}
                </td>
                <td class="p-3 px-5 flex items-center">
                    <a type="button" class="mr-3 form-button"
                       href="{{ path('vehicule_edit', {'id': vehicule.id , 'matricule' : vehicule.intervenant.matricule}) }}">
                        Modifier
                    </a>
                    <a class="">
                        {{ include('vehicule/_delete_form.html.twig') }}
                    </a>

                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>

    </table>
</div>


