{% extends 'base.html.twig' %}

{% block title %}New Vehicule{% endblock %}

{% block body %}

<div class="flex flex-col justify-center items-center">

    <h1 class="text-center mb-8 ">Ajouter un nouveau véhicule</h1>
    {{ include('vehicule/_form.html.twig') }}

</div>
{% endblock %}
