{{ form_start(form) }}
<div class="grid grid-cols-2 gap-4  p-8 rounded-md">

    <div class="col-start-1">
        <div class="my-2">{{ form_label(form.matricule) }}</div>
        <div class="mb-4">{{ form_widget(form.matricule) }}</div>

        <div class="my-2"> {{ form_label(form.nom) }}</div>
        <div class="mb-4">{{ form_widget(form.nom) }}</div>

        <div class="my-2"> {{ form_label(form.adresse1) }}</div>
        <div class="mb-4">{{ form_widget(form.adresse1) }}</div>

        <div class="my-2"> {{ form_label(form.ville) }}</div>
        <div class="mb-4">{{ form_widget(form.ville) }}</div>

        <div class="my-2"> {{ form_label(form.telDomicile) }}</div>
        <div class="mb-4">{{ form_widget(form.telDomicile) }}</div>

    </div>

    <div class="col-start-2">

        <div class="my-2 w-1/4"> {{ form_label(form.titre) }}</div>
        <div class="w-auto mb-4">{{ form_widget(form.titre) }}</div>

        <div class="my-2"> {{ form_label(form.prenom) }}</div>
        <div class="mb-4">{{ form_widget(form.prenom) }}</div>

        <div class="my-2"> {{ form_label(form.complementAdresse) }} </div>
        <div class="mb-4">{{ form_widget(form.complementAdresse) }}</div>

        <div class="my-2"> {{ form_label(form.codePostal) }}</div>
        <div class="mb-4">{{ form_widget(form.codePostal) }}</div>

        <div class="my-2"> {{ form_label(form.telPro) }}</div>
        <div class="mb-4">{{ form_widget(form.telPro) }}</div>

    </div>
    <div class="col-span-3">
        <div class="my-2"> {{ form_label(form.email) }}</div>
        <div class="mb-4">{{ form_widget(form.email) }}</div>
    </div>

</div>

<div class="mx-auto w-1/4">
    <button class="w-full form-button bg-green-600 hover:bg-green-700 animate-bounce ">{{ button_label|default('Créer') }}</button>
    <a class="w-full form-button mt-6 text-center float-right mb-10" href="{{ path('intervenant_index', {'matricule': intervenant.matricule}) }}">Retour</a>
</div>
{{ form_end(form) }}


