{% extends 'base.html.twig' %}

{% block title %}Modifier un intervenant{% endblock %}

{% block body %}

    <div class="flex flex-col h-screen w-1/2 mx-auto ">
        <h1 class="text-center">Modification d'un intervenant</h1>

        {{ include('intervenant/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>

{% endblock %}
