{% extends './base.html.twig' %}

{% block title %}Détails de l'intervenant{% endblock %}

{% block body %}

    <div class="intervenant-title text-center mb-5">
        <h1>{{ intervenant.titre~ ' ' ~intervenant.nom ~ ' ' ~ intervenant.prenom }}</h1>
    </div>

    <div class="grid grid-rows-auto grid-cols-10 gap-x-6 lg:mx-4 2xl:mx-24 mb-8">
        <!-- Personnal informations -->
        <div class="col-span-3">
            <!-- 1 card -->
            <div class="relative bg-white py-6 px-6 rounded-3xl my-4 w-full neumorphism">
                <!-- Icone de modification-->
{#                <a href="{{ path('intervenant_edit', {'id' : intervenant.matricule}) }}">#}
{#                    <svg class="w-6 h-6 float-right text-gray-500 transform hover:scale-110 motion-reduce:transform-none"#}
{#                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
{#                        <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>#}
{#                        <path fill-rule="evenodd"#}
{#                              d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"#}
{#                              clip-rule="evenodd"></path>#}
{#                    </svg>#}
{#                </a>#}
                <div class="text-white absolute rounded-full py-4 px-4 shadow-xl bg-pink-500 -top-6">
                    <!-- svg  -->
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10 2a1 1 0 00-1 1v1a1 1 0 002 0V3a1 1 0 00-1-1zM4 4h3a3 3 0 006 0h3a2 2 0 012 2v9a2 2 0 01-2 2H4a2 2 0 01-2-2V6a2 2 0 012-2zm2.5 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm2.45 4a2.5 2.5 0 10-4.9 0h4.9zM12 9a1 1 0 100 2h3a1 1 0 100-2h-3zm-1 4a1 1 0 011-1h2a1 1 0 110 2h-2a1 1 0 01-1-1z"
                              clip-rule="evenodd"></path>
                    </svg>
                </div>
                <div class="">
                    <p class="text-center text-md font-bold">
                        #{{ intervenant.matricule }}</p>
                    <p class="text-md font-semibold my-2">
                        {{ intervenant.email }}</p>
                    <div class="flex space-x-2 text-gray-400 text-sm">
                        <!-- svg  -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">fontlab
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                        </svg>
                        <p>{{ intervenant.adresse1 }}</p>

                    </div>
                    {% if intervenant.complementAdresse is not empty %}
                        <div class="flex space-x-2 text-gray-400 text-sm">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
                            </svg>

                            <p>{{ intervenant.complementAdresse }}</p>
                        </div>
                    {% endif %}
                    <div class="flex space-x-2 text-gray-400 text-sm my-3">
                        <!-- svg  -->
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                        </svg>
                        <p>{{ intervenant.codePostal ~ ' ' ~ intervenant.ville }}</p>
                    </div>
                    <div class="border-t-2"></div>

                    <div class="flex justify-between">
                        <div class="my-2">
                            <p class="font-semibold text-base mb-2">Tel (domicile)</p>
                            <div class="flex space-x-2">
                                {{ intervenant.telDomicile is not empty ? intervenant.telDomicile : 'Non renseigné' }}
                            </div>
                        </div>
                        <div class="my-2">
                            <p class="font-semibold text-base mb-2">Pro</p>
                            <div class="text-base ">
                                <p>{{ intervenant.telPro is not empty ? intervenant.telPro : 'Non renseigné' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-span-4">
            {{ include('ldi/index.html.twig') }}
        </div>
        <div class="col-span-3">
            {{ include('statistiques/index.html.twig') }}
        </div>

        <div class="row-start-2 col-span-10 text-sm 2xl:text-base">
            <!-- TEMPLATE DE LA PARTIE VEHICULE -->
            {{ include('vehicule/index.html.twig') }}

        </div>


        <div class="row-start-3 col-span-10 text-sm 2xl:text-base">
            <!-- TEMPLATE DE LA PARTIE DEPLACEMENT  -->
            {{ include('deplacement/index.html.twig') }}

        </div>

    </div>

{% endblock %}

