{% extends 'base.html.twig' %}

{% block title %}Détails de l'intervenant{% endblock %}

{% block body %}
<div class="flex min-h-screen mx-auto justify-center items-center">
    <div class="grid grid-cols-2 gap-4 neumorphism p-8 rounded-md">
        <div class="col-span-1">
                <div class=""></div>
            <div class="">{{ intervenant.titre }}</div>
            <div class=""></div>
            <div class="">{{ intervenant.prenom}}</div>
            <div class=""></div>
            <div class=""> {{intervenant.nom }}</div>
            <div class=""></div>
            <div class=""> {{ intervenant.adresse1 }}</div>
            <div class=""></div>
            <div class=""> {{ intervenant.complementAdresse ? intervenant.complementAdresse : 'Aucun'}}</div>
            <div class=""> {{  intervenant.ville }}</div>


        </div>
        <div class="col-start-2">
            <div class=""> {{ intervenant.codePostal }}</div>
            <div class=""> {{ intervenant.Email }}</div>
            <div class=""> {{ intervenant.telDomicile }}</div>
            <div class=""> {{ intervenant.telPro }}</div>
            <div class=""> {{ intervenant.matricule }}</div>

           </div>

    </div>
</div>
{% endblock %}