{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="inline-block">
        <div class="flex items-baseline flex-row border border-gray-100 rounded-md ">
            {% if first is defined and current != first %}
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                    <span class="px-3 text-sm py-2 border-r border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-300">
                &lt;&lt;  </span>
                </a>

            {% endif %}

            {% if previous is defined %}
                <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <span class=" px-3 text-sm py-2 border-r border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-300">
               Précédent </span>
                </a>

            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}"><span class="px-3 text-sm py-2 border-r border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-300">
                   {{ page }}</span></a>

                {% else %}
                    <span class="bg-blue-600 text-white px-3 py-2 text-sm font-bold rounded-md">{{ page }}</span>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><span class="px-3 text-sm py-2 border-r border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-300">
               Suivant  </span></a>

            {% endif %}

            {% if last is defined and current != last %}
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}"><span class="px-3 text-sm py-2 border-r border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-300">
                &gt;&gt; </span></a>

            {% endif %}
        </div>
    </div>
{% endif %}
