<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {% if app.user %}
    <div class="return-home flex justify-end items-center block p-3 mb-4">
        <div class="text-sm font-roboto mr-2">
            {{ app.user.prenom ~ ' ' ~ app.user.nom }}
        </div>
        <a class="mr-1" href="{{ path('home') }}">
            <i class="fas fa-home"></i>
        </a>
        <a href="{{ path('app_logout') }}">
            <i class="text-red-600 fas fa-sign-out-alt"></i>
        </a>
    </div>
    {% endif %}
</header>


{% block body %}
{% endblock %}

</body>

</html>
