
{% block body %}

    <div class="w-full bg-white py-6 px-6 rounded-3xl my-4 neumorphism col-start-6">
        <div class="flex justify-center items-center p-2 font-semibold  mb-4 text-pink-500">
            <i class="fas fa-route fa-2x mr-4"></i>
            <h2>Cumul kilomètrique</h2>
        </div>
        <hr>

        <table class="table-auto w-full">
            <thead>
            <tr>
                <th>Année</th>
                <th>Total km</th>

            </tr>
            </thead>
            <tbody>
            {% for result in compteur %}
            <tr class="text-center">
                <td class="px-2">{{ result.exerciceBudget }}</td>
                <td class="px-2">{{ result.kilometers|number_format(0, '.', ' ') }}</td>
            </tr>

            {% else %}
            <tr>
                <td colspan="3" class="text-gray-500 font-semibold p-2 text-center">Aucune données disponible pour cet intervenant</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>



    </div>
{% endblock %}