h1 {
  @apply font-rubik text-xl md:text-3xl
}

h2{
  @apply font-roboto text-lg
}

input[type='text'] {
  @apply bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500
}

input[type='password'] {
  @apply bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500
}

input[type='email']{
  @apply bg-white appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500

}

input[type='number'] {
  @apply w-full bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500

}
select {
  @apply w-full bg-white appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500
}

label {
  @apply text-gray-700 text-lg font-bold
}

.card-icon {
  @apply text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl -top-6
}

.red-button {
  @apply text-sm bg-red-400 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:ring
}

.form-button {
  @apply text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:ring
}

.form-green {
  @apply text-sm bg-green-600 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:ring
}

.masked{
  display: none;
}


