<form method="post" action="{{ path('deplacement_delete', { 'matricule' : deplacement.intervenant.matricule, 'id': deplacement.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ deplacement.id) }}">
    <button class="red-button">Supprimer</button>
</form>
