{{ form_start(form) }}
<div class="w-1/2 mx-auto">

    <div class="">{{ form_label(form.kms)   }}</div>
    {% if inputReadOnly %}
    <div class="mb-4">{{ form_widget(form.kms, {'attr': {'readOnly': 'readOnly'}}) }}</div>
    {% else %}
    <div class="mb-4">{{ form_widget(form.kms) }}</div>
    {% endif %} 

    <div class="my-2"> {{ form_label(form.exerciceBudget) }}</div>
    <div class="">{{ form_widget(form.exerciceBudget) }}</div>

    <!-- Champ autocomplété et masqué du formulaire dans DeplacementType  -->
    <div class="mb-4">{{ form_widget(form.montant) }}</div>
    <div class=""> {{ form_row(form.Intervenant) }} </div>
    <div class="">{{ form_row(form.dateValidation) }}</div>
    <!--   -->
    <div class=""> {{ form_label(form.Vehicule) }}</div>
    <div class="mb-4">
        {{ form_widget(form.Vehicule) }}
    </div>

    <div class="my-2"> {{ form_label(form.Ldi) }}</div>
    <div class="mb-4">{{ form_widget(form.Ldi) }}</div>

    <div class="my-2"> {{ form_label(form.dateDeplacement) }} (ex : 01-02-2022)</div>
    <div class=""> {{ form_widget(form.dateDeplacement) }}</div>

    <div class="text-center">
        <div class="my-4">
            <label class="mr-4" for="">{{ form_label(form.validationCompta) }}</label>
            {{ form_widget(form.validationCompta) }}
        </div>
        <div class="my-4 ">
            <label class="mr-4" for="">{{ form_label(form.isRegul) }}</label>
            {{ form_widget(form.isRegul) }}

        </div>
    </div>
</div>

<div class="mx-auto w-1/2">
    <button class="w-full form-green mt-6 animate-bounce  ">{{ button_label|default('Créer') }}</button>
    <a class="block form-button mt-6 text-center mb-8 "
       href="{{ path('intervenant_index', {'matricule': intervenant.matricule}) }}">Retour</a>
</div>

{{ form_end(form) }}


