{% block body %}
    <div class="bg-white rounded-3xl neumorphism">
        <div class="text-left p-1 flex items-center text-green-600 justify-between font-semibold">
            <h2 class="flex items-center">
                <i class="fas fa-road fa-2x p-4"></i>
                <span class=""> Déplacements</span>
            </h2>
            <div class="p-5 transform hover:scale-110 motion-reduce:transform-none">
                <a href="{{ path('deplacement_new', {'matricule' : intervenant.matricule}) }}">
                    <svg class="float-right w-8 h-8 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>


        <table class="table-auto py-2 px-6 w-full text-center">
            <thead>
            <tr class="border-b">
                <th class="p-3 px-5 text-center">Véhicule</th>
                <th class="p-3 px-5 text-center">LDI</th>
                <th class="p-3 px-5 text-center">Kms</th>
                <th class="p-3 px-5 text-center">Montant</th>
                <th class="p-3 px-5 text-center">Date</th>
                <th class="p-3 px-5 text-center">Exercice Budget</th>
                <th class="p-3 px-5 text-center">Paiement</th>
                <th class="p-3 px-5 text-center hidden xl:table-cell">Date de validation</th>
                <th class="p-3 px-5 text-center hidden xl:table-cell">Créé par</th>
            </tr>
            </thead>
            <tbody>
            {% for deplacement in deplacements %}
                <tr>
                    <td class="p-3 px-5">
                        {% if deplacement.isRegul == true %}
                            REGUL
                        {% else %}
                            {{ deplacement.Vehicule }}
                        {% endif %}
                       </td>
                    <td class="p-3 px-5">
                        {% if deplacement.isRegul == true %}
                            REGUL
                        {% else %}
                            {{ deplacement.Ldi }}
                        {% endif %}</td>
                    <td class="p-3 px-5">{{ deplacement.kms }}</td>
                    <td class="p-3 px-5">{{ deplacement.montant|number_format(2, ',') }} €</td>
                    <td class="p-3 px-5">
                        {% if deplacement.isRegul == true %}
                            REGUL
                        {% else %}
                            {{ deplacement.dateDeplacement ? deplacement.dateDeplacement|date('d-m-Y') : '' }}
                        {% endif %}
                        </td>
                    <td class="p-3 px-5">{{ deplacement.exerciceBudget }}</td>
                    {% if deplacement.validationCompta == 1 %}
                        <td class="p-3 px-5">
                            <div class="flex justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-green-600"
                                     viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path fill-rule="evenodd"
                                          d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                        </td>
                    {% else %}
                        <td class="p-3 px-5">
                            <div class="flex justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-red-600" viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path fill-rule="evenodd"
                                          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                        </td>
                    {% endif %}
                    <td class="p-3 px-5 hidden xl:table-cell">
                        {% if deplacement.isRegul == true %}
                            REGUL
                        {% else %}
                            {{ deplacement.dateValidation ? deplacement.dateValidation|date('d-m-Y') : 'Aucune' }}
                        {% endif %}
                       </td>
                    <td class="p-3 px-5 hidden xl:table-cell">{{ deplacement.createur }}</td>
                    <td class="p-3 px-5 flex justify-end">
                        <a type="button" class="mr-3 form-button"
                           href="{{ path('deplacement_edit', {'id': deplacement.id , 'matricule' : deplacement.intervenant.matricule}) }}">
                            Modifier
                        </a>
                        <a class="">
                            {{ include('deplacement/_delete_form.html.twig') }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9" class="text-gray-500 font-semibold p-2">Aucun déplacement trouvé pour cet
                        intervenant
                    </td>
                </tr>
            {% endfor %}

            </tbody>

        </table>

        <div class="flex justify-center mt-5">
            {{ knp_pagination_render(deplacements) }}
        </div>

        <div class="w-full flex justify-end p-3">
            <a id="csv"
               class="text-sm border bg-white border-green-500 text-green-500 p-1 rounded focus:outline-none focus:ring hover:bg-green-500 duration-100 hover:text-white"
               href="{{ path('intervenant_csv', {'matricule' : intervenant.matricule}) }}">Export CSV</a>
        </div>


    </div>

{% endblock %}
