{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau déplacement{% endblock %}

{% block body %}

    <div class="flex flex-col justify-center sm:w-1/2 2xl:w-1/3 mx-auto">
        <h1 class="mb-12 text-center">Créer un nouveau déplacement</h1>
    {{ include('deplacement/_form.html.twig') }}
    </div>

{% endblock %}
