{% extends 'base.html.twig' %}

{% block title %}Deplacement{% endblock %}

{% block body %}
    <h1>Deplacement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ deplacement.id }}</td>
            </tr>
            <tr>
                <th>Kms</th>
                <td>{{ deplacement.kms }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ deplacement.montant }}</td>
            </tr>
            <tr>
                <th>DateDeplacement</th>
                <td>{{ deplacement.dateDeplacement ? deplacement.dateDeplacement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ExerciceBudget</th>
                <td>{{ deplacement.exerciceBudget }}</td>
            </tr>
            <tr>
                <th>DateValidation</th>
                <td>{{ deplacement.dateValidation ? deplacement.dateValidation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ValidationCompta</th>
                <td>{{ deplacement.validationCompta ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Createur</th>
                <td>{{ deplacement.createur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('deplacement_index') }}">back to list</a>

    <a href="{{ path('deplacement_edit', {'id': deplacement.id}) }}">edit</a>

    {{ include('deplacement/_delete_form.html.twig') }}
{% endblock %}
