.return-home {

  a {
    color: #1e37995e;
    padding: .4rem;
    border: 1px solid #1e37991c;
    border-radius: 22px;
    transition: .4s;
    font-size: 23px;

    &:hover {
      background-color: #1e37995e;
      color: #f0eff5;
      border: 1px solid #f0eff5;
    }

  }

}
